:root {
  --var-header-ad-logo: "";
  --var-header-ad-color: #f0da93;
  --var-header-ad-hcolor: #ffffff;
  --var-header-ad-bg-img: url(/image/header.png);
  --var-header-ad-bg-scroll-img: url(/image/headerSmall.png);
  --var-header-ad-bg-color: #322626;
  --var-header-ad-input-bgcolor: #00000000;
  --var-header-ad-input-bordercolor: #00000000;
  --var-header-ad-input-searchiconcolor: #f0da93;
}

#app {
}
