@import "@/style/keyframes.less";

#header {
  &.active {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    min-width: 1060px;
    animation: fade-in 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    box-shadow: 0 0px 8px #8b8b8b;
  }
}

.main-wrapper {
  width: 1060px;
  margin: 0 auto;

  &.active {
    margin: 215px auto 0 auto;
  }

  #main {
    height: 130vh;
  }

  #sidebar {
  }

  #footer {
  }
}
