.header-top {
  position: relative;
  background-image: var(--var-header-ad-bg-img);
  background-color: var(--var-header-ad-bg-color);
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
  border-bottom: 1px solid #d1d8e4;

  .header-inner {
    position: relative;
    width: 1060px;
    display: flex;
    margin: 0 auto;
    height: 100%;
    align-items: center;

    .left-logo {
      position: relative;
      width: 256px;
      height: 100%;
      margin: 0 20px 0 0;

      & > a {
        position: absolute;
        display: block;
        right: 0;
        top: 46%;
        transform: translateY(-50%);
        margin: 0 auto;
        width: 130px;
        height: 50px;
        // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 380 111'%3E%3Cstyle%3E.st1%7Bfill:%23bf0404%7D%3C/style%3E%3Cpath d='M48.8 109.2H26.4V26.5h22.4v82.7z' style='fill:%23a80000'/%3E%3Cpath d='m119 26.9.4 45.5-42.8-47.1-14.5 5v79.3h21l-.4-45.3 43 46.7 14.4-5.1v-79zM189.7 76.8l-20.8-51.5-22.3 4.9 33.6 79.4h17.4l33.7-79.4-20.5-4.9zM259.6 92.2V74.9h27.6V58.8h-27.6V43.9h30.7v-17h-52.5v82.7H292l3.7-17.4zM358.9 26.9l.4 45.5-42.9-47.1-14.5 5v79.3H323l-.4-45.3 43 46.7 14.4-5.1v-79z' class='st1'/%3E%3Cpath d='M0 0h22.5v22.5H0z' style='fill:%23f4b115'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
      }
    }

    .search-section {
      position: relative;
      top: 10px;
      left: -1px;

      form {
        position: relative;
        display: flex;
        margin: 0 0 12px;
        width: 445px;
        height: 50px;
        border: 3px solid red;
        border-radius: 14px;
        font-size: 14px;
        box-sizing: border-box;
        background-color: var(--var-header-ad-input-bgcolor);
        border-color: var(--var-header-ad-input-bordercolor);

        input {
          box-sizing: border-box;
          width: calc(100% - 60px);
          height: 100%;
          padding: 0 0 0 70px;
          border: 0;
          border-radius: 12px 0 0 12px;
          outline: 0;
          background-color: rgba(0, 0, 0, 0);
          color: var(--var-header-ad-color);
          font-weight: 600;

          &::placeholder {
            text-align: center;
            color: var(--var-header-ad-color);
            font-weight: 600;
          }
        }

        button {
          width: 60px;
          height: 100%;
          background-color: rgba(0, 0, 0, 0);
          background-repeat: no-repeat;
          background-size: 27px;
          background-position: center;
          border: 0;
          border-radius: 0 12px 12px 0;

          svg {
            position: relative;
            fill: var(--var-header-ad-input-searchiconcolor);
            top: 2px;
            left: 1px;
            width: 27px;
          }
        }
      }

      .search-word {
        display: flex;
        padding: 0 20px;
        height: 20px;
        text-align: center;
        li {
          a {
            color: var(--var-header-ad-color);
            font-size: 14px;
            margin: 0 15px 0 0;
            font-weight: 600;
          }
        }
      }
    }

    .right-logo {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 340px;
    }
  }
}

.header-nav {
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid #e82f2f;

  nav {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 1060px;
    height: 100%;

    ul {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 800px;
      height: 52px;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        width: 1px;
        height: 22px;
        background-color: #d1d8e4;
      }

      li {
        width: 14.28%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 16px;
        height: 100%;
        color: #454545;
        height: 100%;
        text-align: center;

        a {
          &:hover {
            color: #e72f2f;
          }
        }
      }
    }

    .site-map {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100% - 800px);
      height: 52px;

      button {
        display: flex;
        align-items: center;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: #454545;

        &::before {
          content: "";
          display: block;
          margin: 0 12px 0 0;
          width: 15px;
          height: 15px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.2 15.2'%3E%3Cstyle%3E.st0%7Bfill:%23bf0404%7D%3C/style%3E%3Cpath d='M0 9.2h6v6H0zM0 1.2h6v6H0zM7.959 15.214v-6h6v6zM6.727 4.201 10.97-.04 15.212 4.2 10.97 8.444z' class='st0'/%3E%3C/svg%3E");
          background-image: no-repeat;
          background-size: 100%;
          background-position: center;
        }
      }
    }
  }
}
