.login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background-color: #f8f8f8;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;

  & > p {
    font-size: 12px;
    font-weight: 300;
    color: #969696;
  }

  .login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52px;
    background-color: #bf0404;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
    gap: 10px;

    &::before {
      content: "";
      position: relative;
      top: -2.5px;
      display: block;
      width: 68px;
      height: 20px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 380 111'%3E%3Cstyle%3E.st0%7Bfill:%23fff%7D%3C/style%3E%3Cpath d='M48.8 109.2H26.4V26.5h22.4v82.7zM119 26.9l.4 45.5-42.8-47.1-14.5 5v79.3h21l-.4-45.3 43 46.7 14.4-5.1v-79zM189.7 76.8l-20.8-51.5-22.3 4.9 33.6 79.4h17.4l33.7-79.4-20.5-4.9zM259.6 92.2V74.9h27.6V58.8h-27.6V43.9h30.7v-17h-52.5v82.7H292l3.7-17.4zM358.9 26.9l.4 45.5-42.9-47.1-14.5 5v79.3H323l-.4-45.3 43 46.7 14.4-5.1v-79zM0 0h22.5v22.5H0z' class='st0'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  & > div {
    display: flex;
    justify-content: space-between;
  }
}
